{{!-- singleBlogPage Need to link the blog.id--}}
{{!-- {{#each blogs as |blog|}} --}}
<section id="singleBlog">
        <a href="/blog/{{id}}">
                <div class="sectionHead singleBlog" id="singleBlog">
                <h2>{{blog.title}}</h2>
                <p>Posted by: {{blog.author}} and {{blog.created_date}}</p>
                </div>
                <div>
                <p>{{blog.content}}</p>
                </div>
        </a>        
</section>
<hr class="solid">
{{!-- need to link blog_id to blog.id --}}
{{> comment-details}}
{{!-- {{/each}} --}}
