<section id="editBlog" data-id='{{blog.id}}'>
    <div>
      <h2 class="sectionHead">Edit A Blog</h2>
    </div>
          {{!-- edit a blog form --}}
          <form class="flex form edit-blog-form">
            <div class="formInput flex">
              <label for="title" class="form-label">{{blog.title}}</label>
              <input type="text" id="blogTitle" value="{{blog.title}}">
              <label for="content" class="form-label">Content</label>
              <textarea
                name="blogContent"
                id="blogContent"
                cols="80"
                rows="10"
              value="{{blog.content}}">{{blog.content}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="editBlogSave" >Save</button>
          </form>
</section>
{{!-- edit a blog js file --}}
<script src="/js/blog.js"></script>